<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="relative">
    <div class="container vertical-center">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12">
            <div class="ion-text-center">
              <img class="img-symbol" src="../../assets/logo-arcadia-s.png" alt="simbolo Arcadia" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12">
            <form>
              <div class="form-group ion-text-center">
                <p class="subtitle">Faça login para continuar.</p>
                <input type="email" class="form-control space-between" id="exampleInputEmail1" placeholder="Email">
                <input type="password" class="form-control space-between" id="exampleInputPassword1" placeholder="Senha">
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block space-between">Login</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm6 col-md-6">
              <p class="color-primary space-between put-on-left">Esqueceu a senha?</p>
   
          </div>
          <div class="col-6 col-sm6 col-md-6">
              
              <p class="color-primary space-between put-on-right">Criar conta</p>
          </div>
        </div>
    </div>
</ion-content>
