<!-- <ion-header translucent="true">
  <ion-toolbar>
    <div class="container header">
      <div class="row">
        <div class="col-8">
          <ion-button no-padding fill="clear" (click)="next(true)" color="secondary">
            <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
          </ion-button>
        </div>
        <div class="col-4">
          <ion-img src="../../assets/simbolo.png"></ion-img>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container header">
    <div class="row">
      <div class="col-8">
        <ion-button no-padding fill="clear" (click)="next(true)" color="secondary">
          <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="col-4">
        <ion-img src="../../assets/simbolo.png"></ion-img>
      </div>
    </div>
  </div>

  <div class="list-audios">
    <ion-list>
      <ion-item lines="full" button *ngFor="let track of playlist" (click)="start(track)">
        <ion-img class="podcast-icon" [src]="track.img"></ion-img>
        <ion-label class="ion-text-left podcast-text" [color] = "track == activeTrack ? 'dark' : 'primary'">
          {{track.name}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-footer *ngIf="activeTrack" class="fixmedown">
    <ion-toolbar>
      <ion-row>   
        <!-- <ion-col size="12" class="ion-text-center">
          {{ activeTrack.name }}
        </ion-col> -->
        <ion-col size="12" class="ion-text-center">
          <ion-range #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button fill="clear" (click)="prev()" color="medium">
            <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
            <ion-icon slot="icon-only" name="pause"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="next(true)" color="medium">
            <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>