ion-content {
    --background: white url('../../assets/bg.svg') no-repeat center center / cover;
}
.header {
    margin-top: 5%;
}
.button-play {
    --border-radius: 50% !important;
    width: 130px;
    height: 130px;
}
.div-v-center{
    height: 70%;
    align-items: center!important;
    align-content: center!important;
    display: flex!important;
}