ion-content {
    --background: white url('../../assets/bg.svg') no-repeat center center / cover;
}
ion-toolbar {
    --background: #ffffff00;
}
.header {
    margin-top: 5%;
}
.button-play {
    --border-radius: 0% !important;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
.div-v-center{
    height: 70%;
    align-items: center!important;
    align-content: center!important;
    display: flex!important;
}
.waves {
    background: url(../../assets/waves.svg);
    width: 290px; 
    height: 290px;
    align-items: center!important;
    align-content: center!important;
    display: flex!important;
    margin: auto;
}
.fixme {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}
ion-list {
    --ion-item-background: transparent;
}
.fixmedown {
    position: sticky !important;
    bottom: 0 !important;
    z-index: 1 !important;
}
.podcast-icon {
    width: 15%;
}
.podcast-text {
    text-transform: capitalize;
    margin-left: 2%;
}
.list-audios {
    padding-top: 2%;
}